@import url("~leaflet/dist/leaflet.css");

body #root .leaflet-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.number-icon
{
  border-radius: 50%;
  background-color: purple;
    text-align:center;
    color: white;    
}